---
import "../styles/global.css";
import BaseLayout from "@/layouts/base-layout.astro";
import MaxWidthWrapper from "@/components/max-width-wrapper.astro";

import { ArrowDown } from "@lucide/astro";

import FadeUpSection from "@/components/animations/fade-up-section.astro";

import HeroImage from "@/components/sections/home/hero-image.astro";
import AboutMe from "@/components/sections/home/about-me.astro";
import Technologies from "@/components/sections/home/technologies.astro";
import Experience from "@/components/sections/home/experience.astro";
---

<BaseLayout
  content={{
    title: "Robert Kinney",
    description: "Robert Kinney's Portfolio | Home Page",
  }}
>
  <MaxWidthWrapper>
    <section class="flex flex-col h-[calc(100svh-5rem)] w-full mx-auto">
      <HeroImage />

      <div
        class="flex grow items-center justify-center h-1/6 lg:h-1/5 xl:h-1/4"
      >
        <ArrowDown
          class="size-6 text-secondary-foreground animate-bounce duration-150"
        />
      </div>
    </section>

    <FadeUpSection>
      <AboutMe />
    </FadeUpSection>

    <FadeUpSection>
      <Technologies />
    </FadeUpSection>

    <FadeUpSection>
      <Experience />
    </FadeUpSection>
  </MaxWidthWrapper>
</BaseLayout>
