---

---

<div
  class="prose max-w-none dark:prose-invert
  prose-h2:my-4 prose-h2:text-2xl prose-h2:font-bold
  prose-h3:my-3 prose-h3:text-xl prose-h3:font-bold
  prose-h4:my-2 prose-h4:font-black prose-h4:text-foreground/95
  prose-a:text-primary
  prose-p:text-justify
  prose-img:rounded-md"
>
  <slot />
</div>
