---
import { findTechnologyBadge } from "@/lib/data/technologies";

interface Props {
  name: string;
}

const { name } = Astro.props;
const result = findTechnologyBadge(name);
---

{
  result ? (
    <a
      href={`/projects/tag/${encodeURIComponent(result.badge.name.toLowerCase())}`}
    >
      <span
        class:list={[
          "badge-outline py-1 px-2 cursor-pointer hover:opacity-80 transition-all hover:scale-105",
          result.color,
        ]}
      >
        <result.badge.icon class="size-4" />
        <p class="ml-0.5">{result.badge.name}</p>
      </span>
    </a>
  ) : (
    <a href={`/projects?tag=${encodeURIComponent(name)}`}>
      <span class="badge-secondary py-1 px-2 cursor-pointer hover:opacity-80 transition-all hover:scale-105">
        <p>{name}</p>
      </span>
    </a>
  )
}
