<div class="flex flex-col gap-3 pb-3">
  <h5
    class="scroll-m-20
  text-md
  font-semibold
  text-muted-foreground
  tracking-tight"
  >
    About Me
  </h5>

  <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
    Hello! I'm{" "}
    <span class="text-primary dark:text-foreground"> Robert Kinney. </span>{" "}
    I am a full-stack developer based in New York City.
  </h3>

  <muted class="muted">
    As a passionate enthusiast in all things technology, I often find myself
    digging deep into the functionality of items we interact with in everyday
    life. From reviving a hopeless laptop with a lightweight version of Linux,
    watching a freshly built computer POST for the first time, all the way up to
    standing with a CV axle in hand during a transmission-out procedure on my
    car, I am no stranger to stepping outside of my comfort zone.
  </muted>
</div>
