---
import EY from "@/components/icons/experience/ey.astro";

export const experience = [
  {
    title: "Senior Tax Technology Consultant",
    company: "EY",
    companyLogo: EY,
    durationShort: "August 2025 - Present",
    durationLong: "2025 - Present",
    content: [
      `
              Built and automated ETL pipelines using Python, Alteryx, and SQL that perform data validation, process complex business logic, and
              generate detailed reconciliation reports, reducing manual efforts
              taken by engagement teams while fostering confidence in data
              outputs.
            `,
      `
              Designed client-facing Power BIs and other custom reports to
              visualize key project metrics and outputs, providing improved
              confidence in data accuracy and decision-making.
            `,
      `
              Onboarded and supported over 60 clients on an internal platform,
              providing ongoing support and tailored customizations to
              facilitate workflows shared by client and engagement teams.
            `,
      `
              Led integration efforts between two internal platforms by creating
              user stories, detailed requirements documents, UI mock-ups, and
              acting as a business tester, resulting in an improved global view
              of services provided to clients.
            `,
      `
              Created comprehensive business and data requirements documents,
              process diagrams, and user guides, ensuring smooth implementation
              and adoption of processes across teams.
            `,
    ],
  },
  {
    title: "Staff Tax Technology Consultant",
    company: "EY",
    companyLogo: EY,
    durationShort: "July 2023 - August 2025",
    durationLong: "2023 - 2025",
    content: [
      `
              Researched industry performance improvement trends and
              technologies, leveraging Alteryx to transform data stored in an
              internal platform and Power BI to create visualizations, providing
              actionable insights that empowered engagement teams to make
              data-driven decisions.
            `,
      `
            
              Implemented process enhancements to service delivery capabilities
              by incorporating feedback from client users and managers,
              resulting in more efficient workstreams.
            `,
      `
              Filled gaps in the documentation of internal processes and
              procedures, allowing for a consistent understanding of services
              provided across functional groups.
            `,
    ],
  },
];
---

<div class="flex flex-col gap-5 pb-3">
  <div class="w-full border-b border-muted-foreground/10 my-6"></div>

  <h2
    class="scroll-m-20 text-md font-semibold text-muted-foreground tracking-tight"
  >
    Experience
  </h2>

  <div class="flex flex-col gap-4">
    {
      experience.map((section) => (
        <div class="card">
          <header class="flex flex-row justify-between">
            <div class="flex flex-row items-center justify-center gap-x-3">
              <section.companyLogo class="size-6" />

              <div class="flex flex-col">
                <h3 class="font-semibold">{section.title}</h3>
                <h3 class="text-muted-foreground text-sm">
                  {section.durationShort}
                </h3>
              </div>
            </div>
          </header>

          <section>
            <ul class="list-disc pl-5 space-y-2 muted">
              {section.content.map((item) => (
                <li>{item}</li>
              ))}
            </ul>
          </section>
        </div>
      ))
    }
  </div>
</div>
