---
import TechnologyBadge from "@/components/technology-badge.astro";
import { TechnologyBadges } from "@/lib/data/technologies";
---

<div class="flex flex-col gap-5 pb-3">
  <div class="w-full border-b border-muted-foreground/10 my-6"></div>

  <h2
    class="scroll-m-20 text-md font-semibold text-muted-foreground tracking-tight"
  >
    Technologies
  </h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {
      TechnologyBadges.map((section) => (
        <div class="card md:last:col-span-3">
          <header>{section.name}</header>

          <section class="flex flex-wrap gap-2">
            {section.items.map((item) => (
              <TechnologyBadge name={item.name} />
            ))}
          </section>
        </div>
      ))
    }
  </div>
</div>
